# I FINALLY HAVE ALL OF THE DATA I WANT (for now). LETS DO THIS THING

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
world = pd.read_csv("../data/world-df-final.csv")

In [4]:
storm = pd.read_csv("../data/storm-df-final.csv")

In [8]:
world

       YEAR-MONTH  LONGITUDE (deg)  LATITUDE (deg)  MEAN SEA LEVEL PRESSURE (0.1 mb)  VAPOR PRESSURE (0.1 mb)  MEAN TEMPERATURE (deg C)  NO. DAYS PRECIPITATION >= 1.0 mm  TOTAL PRECIPITATION (mm)  SUNSHINE DURATION (hours)        STATION NAME  YEAR  MONTH  MEAN FAHRENHEIT      COUNTRY
0         1987-01          -8.6678         70.9397                           10135.0                     44.0                     -26.0                              11.0                      66.0                        NaN  JAN MAYEN (1001-1)  1987      1            27.32       Norway
1         1987-02          -8.6678         70.9397                           10123.0                     24.0                     -93.0                               8.0                      46.0                        NaN  JAN MAYEN (1001-1)  1987      2            15.26       Norway
2         1987-03          -8.6678         70.9397                           10117.0                     41.0                     -42.0                              19.0                      74.0                        NaN  JAN MAYEN (1001-1)  1987      3            24.44       Norway
3         1987-04          -8.6678         70.9397                           10052.0                     49.0                     -16.0                              16.0                      90.0                        NaN  JAN MAYEN (1001-1)  1987      4            29.12       Norway
4         1987-05          -8.6678         70.9397                           10169.0                     53.0                       2.0                               4.0                      41.0                        NaN  JAN MAYEN (1001-1)  1987      5            32.36       Norway
...           ...              ...             ...                               ...                      ...                       ...                               ...                       ...                        ...                 ...   ...    ...              ...          ...
844809    2022-02         125.1030          6.0572                           10092.0                    249.0                     271.0                              11.0                      82.0                        NaN      GENERAL SANTOS  2022      2            80.78  Philippines
844810    2022-03         125.1030          6.0572                           10086.0                    317.0                     274.0                               NaN                       NaN                        NaN      GENERAL SANTOS  2022      3            81.32  Philippines
844811    2022-04         125.1030          6.0572                           10086.0                    281.0                     270.0                              15.0                     102.0                        NaN      GENERAL SANTOS  2022      4            80.60  Philippines
844812    2020-09           8.9783         46.3361                           10000.0                      0.0                       0.0                               0.0                       0.0                        0.0              BIASCA  2020      9            32.00  Switzerland
844813    2021-04           8.9783         46.3361                           10000.0                      0.0                       0.0                               0.0                       0.0                        0.0              BIASCA  2021      4            32.00  Switzerland

[844814 rows x 14 columns]

In [11]:
storm

              STATE  YEAR MONTH_NAME         EVENT_TYPE                         CZ_NAME     BEGIN_DATE_TIME  DEATHS_DIRECT TOR_F_SCALE   SQ_MILE  EVENT_COUNT  EVENT_PER_SQ_MILE
0          COLORADO  1987        May  Thunderstorm Wind                        PHILLIPS  02-MAY-87 18:25:00              0         NaN  103718.0      40529.0               0.39
1          COLORADO  1987        May            Tornado                          DENVER  12-MAY-87 17:05:00              0          F1  103718.0      40529.0               0.39
2          COLORADO  1987        May  Thunderstorm Wind                         DOUGLAS  17-MAY-87 15:49:00              0         NaN  103718.0      40529.0               0.39
3          COLORADO  1987        May               Hail                      WASHINGTON  17-MAY-87 17:55:00              0         NaN  103718.0      40529.0               0.39
4          COLORADO  1987        May  Thunderstorm Wind                      WASHINGTON  17-MAY-87 18:18:00              0         NaN  103718.0      40529.0               0.39
...             ...   ...        ...                ...                             ...                 ...            ...         ...       ...          ...                ...
1598420  NEW MEXICO  2021   December            Drought         UPLANDS OF THE BOOTHEEL  01-DEC-21 00:00:00              0         NaN  121356.0      18478.0               0.15
1598421  NEW MEXICO  2021   December            Drought  SOUTHWEST DESERT/MIMBRES BASIN  01-DEC-21 00:00:00              0         NaN  121356.0      18478.0               0.15
1598422  NEW MEXICO  2021   December            Drought   EASTERN BLACK RANGE FOOTHILLS  01-DEC-21 00:00:00              0         NaN  121356.0      18478.0               0.15
1598423  NEW MEXICO  2021   December            Drought             SIERRA COUNTY LAKES  01-DEC-21 00:00:00              0         NaN  121356.0      18478.0               0.15
1598424  NEW MEXICO  2021   December            Drought        NORTHERN DONA ANA COUNTY  01-DEC-21 00:00:00              0         NaN  121356.0      18478.0               0.15

[1598425 rows x 11 columns]